*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
header{
    background-color: #161718;
    border-top: 2px solid #ffd400;
    height: 60px;
    width: 100%;
}
nav{
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.main1{
    height: 100%;
    width: 416px;
    display: flex;
    align-items: center;
}
.main1 img{
    height: 100%;

}
.main1 a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 40px;
}
.main1 a:hover{
    color: #ffd400;
}
.main2{
    height: 88px;
    width: 100%;
    background-color: #161718;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.main2 a{
    color: #888888;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    margin-left: 20px;
}
.main2 a:hover{
    color: #ffd400;
}
.main3{
    height: 60px;
    width: 100%;
    background-color: #010204;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main4{
    height: 100%;
    width: 1226px;
    display: flex;
    align-items: center;
}
.main4 span{
    font-size: 22px;
    color: white;
    margin-left: 1.8%;
}
.main4 a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
.main5{
    height: 703.125px;
    width: 100%;
    background-image: url(img/102.jpg);
    background-size: 100% 100%;
    position: relative;
}
.img1{
    position: relative;
    top: 25%;
    left: 48%;
    height: 25.43px;
    width: 214.18px;
    margin: 0 12px 0 0;
}
.text-1{
    position: relative;
    top: 25%;
    left: 48%;
    font-size: 31px;
    color: #b02208;
    font-family: sans-serif;

}
.text-2{
    position: relative;
    top: 35%;
    left: 20%;
    font-size: 28px;
    font-weight: 800;
    color: #b02208;
    display: inline-block;
}

.main6{
    height: 1028.4px;
    width: 100%;
    background-image: url(img/11.jpg);
    background-size: 100% 100%;
    position: relative;
}
.text-3{
    font-size: 19.2px;
    font-weight: 800;
    color: #b02208;
    line-height: 23.04px;
    position: relative;
    top: 25%;
    left: 24%;
}
.text-4{
    font-size: 19.2px;
    font-weight: 800;
    color: #ffffff;
    line-height: 23.04px;
    position: relative;
    top: 15%;
    left: 55.7%;

}
.text-5{
    font-size: 19.2px;
    font-weight: 800;
    color: #ffffff;
    line-height: 23.04px;
    position: relative;
    top: 27%;
    left: 55.7%;

}
.text-6{
    font-size: 19.2px;
    font-weight: 800;
    color: #000000;
    line-height: 23.04px;
    position: absolute;
    top: 48%;
    left: 23.5%;

}
.text-7{
    font-size: 19.2px;
    font-weight: 800;
    color: #ffffff;
    line-height: 23.04px;
    position: absolute;
    top: 48%;
    left: 40.7%;

}
.text-8{
    font-size: 19.2px;
    font-weight: 800;
    color: #ffffff;
    line-height: 23.04px;
    position: absolute;
    top: 56%;
    left: 69%;

}
.text-9{
    font-size: 19.2px;
    font-weight: 800;
    color: #ffffff;
    line-height: 23.04px;
    position: absolute;
    top: 76.5%;
    left: 41%;

}
.text-10{
    font-size: 19.2px;
    font-weight: 800;
    color: #000000;
    line-height: 23.04px;
    position: absolute;
    top: 71.5%;
    left: 69%;

}

.main7{
    height: 830.4px;
    width: 100%;
    background-image: url(img/11\ \(1\).jpg);
    background-size: 100% 100%;
    position: relative;
}
.d1{
    height: 215.4px;
    width: 314.98px;
    position: absolute;
    top: 58%;
    left: 18%;
}
.text-11{
    font-size: 35px;
    font-weight: 700;
    color: white;
}
.text-12{
    font-size: 18px;
    color: white;
    margin-top: 20px;
        font-weight: 100;
}

.main8{
    background-image: url(img/11\ \(2\).jpg);
    height: 638.45px;
    background-size: 100% 100%;
    position: relative;
}
.d2{
    height: 170.23px;
    width: 311.67px;
    position: absolute;
    top: 38%;
    left: 60%;
}
.main9{
    height: 832px;
    width: 100%;
    background-image: url(img/11\ \(3\).jpg);
    background-size: 100%;
    position: relative;
}
.text-13{
    font-size: 23px;
    color: #b02208;
    font-weight: 800;
    position: absolute;
    top: 16.5%;
    left: 28.5%;
}
.text-14{
    font-size: 35px;
    color: #b02208;
    font-weight: 700;
    font-family: "Poppins", sans-serif;    position: absolute;
    top: 33%;
    left: 20%;
}
.text-15{
    font-size: 17px;
    color: black;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 53%;
    left: 20%;
}
.text-16{
    font-size: 35px;
    color: #b02208;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 20%;
}
.text-17{
    font-size: 17px;
    color: black;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 86%;
    left: 20%;
}
.mian10{
    height: 931px;
    width: 100%;
    background-image: url(img/11\ \(4\).jpg);
    background-size: 100%;
    position: relative;
}
.text-18{
    font-size: 23px;
    color: #b02208;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 15%;
    left: 39%;
}
.text-19{
    font-size: 35px;
    color: #b02208;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
}
.text-20{
    font-size: 17px;
    color: #000000;
    font-weight: 300;
    position: absolute;
    top: 47%;
    left: 50%;
}
.text-21{
    font-size: 21px;
    color: #b02208;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 50%;
}
.text-21 a{
    font-size: 35px;
    text-decoration: none;
    color: #b02208;
}
.text-22{
    font-size: 17px;
    color: #000000;
    font-weight: 300;
    position: absolute;
    top: 76%;
    left: 50%;
}
.text-23{
    color: #b02208;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 70%;
}
.text-23 a{
    font-size: 35px;
    text-decoration: none;
    color: #b02208;
}
.text-24{
    font-size: 17px;
    color: #000000;
    font-weight: 300;
    position: absolute;
    top: 76%;
    left: 70%;
}
.main11{
    height: 835px;
    width: 100%;
    background-image: url(img/11\ \(5\).jpg);
    background-size: 100%;
    position: relative;
}
.text-25{
    font-size: 19px;
    color: white;
    border: 1px solid white ;
    border-radius: 23.14px;
    padding: 13px 47px 13px 47px;
    position: absolute;
    top: 12%;
    left: 20%;
}
.text-26{
    font-size: 35px;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 22%;
    left: 20%;
}
.text-27{
    font-size: 17px;
    color: white;
    font-weight: 300;
    position: absolute;
    top: 36%;
    left: 20%;
}
.text-28{
    font-size: 22.54px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 54.5%;
    left: 25%;
}
.text-29{
    font-size: 22.54px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 67%;
    left: 25%;
}
.text-30{
    font-size: 22.54px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 79.2%;
    left: 25%;

}

.main12{
    height: 836px;
    width: 100%;
    background-image: url(img/11\ \(6\).jpg);
    background-size: 100%;
    position: relative;
}
.text-31{
    font-size: 18.93px;
    color: white;
    border: 1px solid;
    border-radius: 23.14px;
    padding: 13px 47px 13px 47px;
    position: absolute;
    top: 19%;
    left: 55%;
}
.text-32{
    font-size: 35px;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 28%;
    left: 55%;
}
.text-33{
    font-size: 17px;
    color: white;
    font-weight: 300;
    position: absolute;
    top: 36%;
    left: 55%;
}
.main13{
    height: 713px;
    width: 100%;
    background-image: url(img/11\ \(7\).jpg);
    background-size: 100%;
    position: relative;
}
.text-34{
    font-size: 23px;
    color: #b02208;
    font-weight: bold;
    position: absolute;
    top: 18.5%;
    left: 35%;
}
.text-35{
    font-size: 35px;
    color: #b02208;
    position: absolute;
    top: 43%;
    left: 55%;
    font-weight: bold;
}
.text-36{
    font-size: 17px;
    color: black;
    font-weight: 300;
    position: absolute;
    top: 60%;
    left: 55%;
}
.main14{
    height: 2334px;
    width: 100%;
    background-image: url(img/11\ \(8\).jpg);
    background-size: 100%;
    position: relative;
}
.main15{
    height: 2658px;
    width: 100%;
    background-image: url(img/11\ \(9\).jpg);
    background-size: 100%;
    position: relative;
}
.main16{
    height: 408px;
    width: 100%;
    background-color: #010203;
    padding: 40px 0 0 0;
    display: flex;
}
.d3{
    height: 210px;
    width: 172px;
}
.text-37{
    font-size: 14px;
    color: #dddddd;
    font-weight: 600;
    text-transform: uppercase;
}
.d3 a{
    font-size: 14px;
    color: #888888;
    margin: 24px 0 0 0;
    text-decoration: none;
    padding-bottom: 80px;
}
.d3 a:hover{
    color: #ffd400;
}